

<div id='quizzy'>

</div>

  <script id="question" type="text/template">
    <h3><%= question %></h3>
      <form>
        a.) <%= a %><input type="radio" name="answer" class = "ans" id="a"><br>
        b.) <%= b %><input type="radio" name="answer" class = "ans" id="b"><br>
        c.) <%= c %><input type="radio" name="answer" class = "ans" id="c"><br>
        d.) <%= d %><input type="radio" name="answer" class = "ans" id="d"><br>
      </form>
  </script>

  <script id="results" type="text/template">
    <h3>Your Score</h3>
    <h3><%= userScore %> out of <%= total %> answered correctly.</h3>
  </script>

